.example-card {
    margin: auto;
    min-width: 500px;
}
form{
    height: 100%;
    display: flex;
}
mat-card-actions{
    margin: 0px;
    padding-bottom: 0px;
}
mat-card-title{
    margin: 0px !important;
}
mat-card-title[second]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
mat-card-title[second] a{
    font-size: 11px;
}
mat-card-subtitle{
    text-align: center;
    margin: 0px !important;
}
mat-card mat-divider[inset]{
    margin-top: 15px;
    margin-bottom: 15px;
}
mat-card-content{
    width: 100%;
    display: flex;
    overflow: auto;
    max-height: 300px;
    justify-content: space-between;
}
mat-card-content mat-form-field{
    flex: 1;
}
mat-card-content mat-form-field:first-child{
    margin-right: 10px;
}
table{
    width: 100%;
    border-radius: 5px;
    border-spacing: initial;
}
table thead th{
    color: #fff;
    font-weight: 500;
    background-color: #ffa6a6;
    border-bottom: 1px solid #d7d7d7;
}
table th,
table td{
    text-align: left;
    padding: 5px 10px;
}
table td{
    border-bottom: 1px solid #d7d7d7;
}
table tr:last-child td{
    border-bottom: 0px;
}
table tr:nth-child(2n) td{
    background-color: #f3f3f3;
}