/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
app-first-page,
app-second-page,
app-detalhes-produto,
app-carrinho,
app-envio{
    flex: 1;
    overflow: auto;
}
div.container{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
}
.hide{
    display: none !important;
}
.btn-color-default{
    background-color: #ffa6a6 !important;
}